:root {
    --text: #e9dbf6;
    --background: #13071c;
    --primary: #772fb6;
    --secondary: #28103d;
    --accent: #9149d0;
}

body, html {
    height: 100%;
}

.container {
    display:flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    border: var(--primary) solid 2px;
    margin: 1rem 2rem;
    height: 80%;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: var(--secondary);
    text-align: center;
    padding: 10px;
    flex-grow: 0;
}

.chat-wrapper {
    background-color: var(--background);
    padding: 10px;
}
.content {
    flex: 1;

}
.chat-send {
    display: flex;
    flex-grow: 0;
    padding: 10px;
}

.chat-send input {
    flex: 1;
}