:root {
    --text: #e9dbf6;
    --background: #13071c;
    --primary: #772fb6;
    --secondary: #28103d;
    --accent: #9149d0;
}

* {
    box-sizing: border-box;
}

.heading {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: var(--text);
    width: fit-content;
    transition: transform .2s ease;
}

/* some ting */

.contact-list {
    text-align: center;
}

.contact {
    width: min-content;
    margin: 5rem 20px;
    display: inline-block;
    flex-direction: column;
}

.logo {
    width: 124px;
    height: auto;
    transition: transform .7s ease-in-out;
}

/* another ting */

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    overflow-wrap: break-word;
}

/* hover tings */

.contact:hover .logo {
    transform: rotate(360deg);
}

.contact:hover .text {
    opacity: 1;
}

.heading:hover {
    transform: scale(1.1);
}