:root {
  --text: #e9dbf6;
  --background: #13071c;
  --primary: #772fb6;
  --secondary: #28103d;
  --accent: #9149d0;
}

body {
  text-align: center;
}

.introduction, .about {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 140%;
}

.about {
  margin: 20px auto;
}

.animated {
  font-family: monospace;
  font-size: 6vw;
  font-weight: bolder;
  color: white;
  background-image: -webkit-linear-gradient(92deg, #c471f5 0%, #fa71cd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  animation: hue 10s infinite linear;
  margin-bottom: 20px;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#cat {
    width: 12rem;
    height: 15rem;
    display: block;
    margin: 20px auto;
}

#egg {
    width: 5px;
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 5s;
    transition-delay: 3s;
}

.icon {
  width: 12rem;
  height: 12rem;
  margin: 10px auto;
  display: inline-block;
  transition: transform 0.3s ease;
}

.cat-icon {
  animation: icon-spin 360s forwards paused linear;
  transition: transition;
}

.icon:hover {
  animation-play-state: running;
  transform: scale(1.1);
}

.shrimp:hover {
  animation: enlarge 15s;
  animation-delay: 5s;
}

@keyframes enlarge {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(20);
  }
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(129600deg);
  }
}

#egg:hover {
    transform-origin: top left;
    transform: scale(30);
}

@media (max-width: 500px) {
  .animated {
    font-size: 3rem
  }

  .introduction {
    font-size: 1.2rem;
  }
}