:root {
  --text: #e9dbf6;
  --background: #13071c;
  --primary: #772fb6;
  --secondary: #28103d;
  --accent: #9149d0;
}

.introduction {
  margin-top: 8%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.animated {
  font-family: monospace;
  font-size: 6rem;
  font-weight: bolder;
  letter-spacing: 2px;
  color: white;
  background-image: -webkit-linear-gradient(92deg, #c471f5 0%, #fa71cd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  animation: hue 10s infinite linear;
  margin-bottom: 20px;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#cat {
    width: 250px;
    height: 300px;
    display: block;
    margin: 20px auto;
}

#egg {
    width: 5px;
    height: 5px;
    background-color: red;
    color: green;
    position: fixed;
    top: 0;
    transition: 5s;
    transition-delay: 3s;
}

#egg:hover {
    transform-origin: top left;
    transform: scale(30);
}
